/*Global Styles */
* {
    margin: 0;
}
body {
    background-color: #1E1E1C;

}
main {
    padding: 10px;
    margin: 10px;
}

img {
display: block;
margin: 0 auto;
width: 90%;
border-radius: 15px;

}

header img {
width: 100%;
height: auto;
padding: 0;

}

.col img { 
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #D0A13B;
}

a { 
   color: #F1E8D5; 
}

body {
    color: #F2E9DC;
}

a:hover {
    text-decoration: none;
}

.col a {
    color: #F2C14E;
}

p a{
    color: #F2C14E;
}

ul a {
    color: #F2C14E;
}
/* Mobile Styles */

#container {
    width: 100%;
    border: 2px solid #433108;
    margin: auto;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}

nav {
    text-align: center;

}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;

}

nav li a{
    display: block;
    background-color: #9B741F;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0;
    border-bottom: 3px solid #433108;
}
nav li a:hover {
    background-color: #8F2D2D; 
}
main{
    padding: 10px;
    margin: 10px;
}

.main_content {
    padding: 10px;
}

.col {
    margin: 20px 0;
}

.col img {
    border-radius: 10px;
    border: 2px solid #D0A13B;

}

footer {
    padding: 40px; 
    text-align: center;

}

/* Tablet Styles */

@media (min-width: 768px) { 
    
    #container {
        width: 90%;
        margin: 20px auto;
         padding: 10px 0;
        border-bottom: 4px solid #7A3035;

    }
.col img {
    width: 60%;
}     

   
    nav li {
    display: inline-block;
}

nav li a {

    width: 150px;
    height: 40px;
}


.col img {
    width: 60%;
}
}

/* Desktop Styles */
@media (min-width: 1024px) {
#container {
    width: 65%;
    margin: 20px auto;
    background-color: #1F1F1F;
    border-radius: 20px;
}


.basslines {
    display: flex;
}

.col {
    border: 2px solid #C65D32;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

}

.col img {
    width: 65%;
}

.col h3 {
    text-align: center;
    color: #9f431e
}


}